
@{
    Layout = null;
}
@model Group
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GroupSchedule</title>
</head>
<body>
    @Html.Partial("Header")
    <h1>U r looking on the schedule of the @Model.Title</h1>
    @{
        List<Lesson> lessons = ScheduleFormatter.SortLessons(Model.Lessons) as List<Lesson>;
        IEnumerable<DayOfWeek> days = Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>();
        IEnumerable<LessonNumber> numbers = Enum.GetValues(typeof(LessonNumber)).Cast<LessonNumber>();
    }

    <table border="1">
        @for (int i = 0; i < 2; ++i)
        {
            <tr>
                @foreach (var dayOfWeek in days)
                {
                    <td>
                        <h3>
                            <b>
                                @dayOfWeek
                            </b>
                        </h3>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var day in days)
                {
                <td>
                    <table border="1">
                        @foreach (var number in numbers)
                        {
                            <tr>
                                <td>
                                    <i>
                                        @number
                                    </i>                                    
                                    @foreach (var lesson in lessons)
                                    {
                                        if (lesson.LessonNumber == number && lesson.DayOfWeek == day && (lesson.WeekMode == WeekMode.Both || lesson.WeekMode == (WeekMode)(i+1)))
                                        {
                                            <table>
                                                <tr><h6>@lesson.Id</h6></tr>
                                                <tr><h6>@lesson.Subject.Title</h6></tr>
                                            </table>                                        
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                 }
             </tr>
             <tr>                 
             </tr>
         }
    </table>
</body>
</html>

@*@foreach (var lessonNumber in numbers)
    {
        <tr>
            <td>@lessonNumber</td>
        </tr>
        <tr>

            @foreach (var lesson in lessons)
            {

                if (lesson.LessonNumber == lessonNumber && lesson.DayOfWeek == dayOfWeek)
                {
                    <td><h2><b>@lesson.Id</b></h2></td>
                }

            }
        </tr>
    }*@
